[submodule ".stumpwm.d/betterlockscreen"]
	path = .stumpwm.d/betterlockscreen
	url = https://github.com/pavanjadhaw/betterlockscreen.git
[submodule "packages_external/stumpwm"]
	path = packages_external/stumpwm
	url = https://github.com/stumpwm/stumpwm.git
