[submodule ".stumpwm.d/betterlockscreen"]
	path = .stumpwm.d/betterlockscreen
	url = https://github.com/pavanjadhaw/betterlockscreen.git
[submodule "packages_external/stumpwm"]
	path = packages_external/stumpwm
	url = https://github.com/stumpwm/stumpwm.git
[submodule "quicklisp/local-projects/clx-truetype"]
	path = quicklisp/local-projects/clx-truetype
	url = https://github.com/ahmed-shariff/clx-truetype
[submodule ".emacs.d/python-type-stubs"]
	path = .emacs.d/python-type-stubs
	url = https://github.com/microsoft/python-type-stubs
[submodule "packages_external/paru"]
	path = packages_external/paru
	url = https://aur.archlinux.org/paru.git
[submodule ".emacs.d/.cache/gitignore"]
	path = .emacs.d/.cache/gitignore
	url = https://github.com/github/gitignore
[submodule ".stumpwm.d/modules"]
	path = .stumpwm.d/modules
	url = https://github.com/stumpwm/stumpwm-contrib
[submodule ".emacs.d/.cache/doom-banners"]
	path = .emacs.d/.cache/doom-banners
	url = git@github.com:ahmed-shariff/doom-banners.git
